<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="au.org.libraryforall.updater.ukraine">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/main_title"
    android:networkSecurityConfig="@xml/net_security_policy"
    android:name="au.org.libraryforall.updater.main.MainApplication">

    <receiver android:name="au.org.libraryforall.updater.main.MountedFilesystemReceiver">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_MOUNTED" />
        <action android:name="android.intent.action.MEDIA_EJECT" />
        <action android:name="android.intent.action.MEDIA_REMOVED" />
        <data android:scheme="file"/>
      </intent-filter>
    </receiver>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="au.org.libraryforall.updater.app"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <provider
      android:name="au.org.libraryforall.updater.main.UnrestrictedProvider"
      android:authorities="au.org.libraryforall"
      android:exported="true"
      android:grantUriPermissions="true" />

    <activity
      android:name="au.org.libraryforall.updater.main.MainActivity"
      android:exported="true"
      android:label="@string/main_title"
      android:theme="@style/LauncherTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
